<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1652073115108587</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>1652073115108587</string>
	<key>FacebookDisplayName</key>
	<string>Riker</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>dev.rikerapp.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSHealthShareUsageDescription</key>
	<string>Riker would like to read your workout and body measurement data.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Riker would like to save workout and body measurement data.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Riker would like to access your photo library</string>
	<key>Riker Authentication scheme</key>
	<string>r-auth</string>
	<key>Riker Authentication token param name</key>
	<string>r-token</string>
	<key>Riker IAP Subscription Product Identifier</key>
	<string>_REMOVED_</string>
	<key>Riker REST service mt-version</key>
	<string>0.0.1</string>
	<key>Riker REST service preferred charset</key>
	<string>UTF-8</string>
	<key>Riker REST service preferred format</key>
	<string>json</string>
	<key>Riker REST service preferred language</key>
	<string>en-US</string>
	<key>Riker REST service timeout</key>
	<integer>20</integer>
	<key>Riker Search Ads Attribution REST path component</key>
	<string>_REMOVED_</string>
	<key>Riker Stripe Prod Api Key</key>
	<string>_REMOVED_</string>
	<key>Riker Stripe Test Api Key</key>
	<string>_REMOVED_</string>
	<key>Riker account closed reason header name</key>
	<string>r-delete-reason</string>
	<key>Riker auth token response header name</key>
	<string>r-auth-token</string>
	<key>Riker error mask header name</key>
	<string>r-error-mask</string>
	<key>Riker establish session header name</key>
	<string>r-establish-session</string>
	<key>Riker faq bare nav uri</key>
	<string>/faqBareNav</string>
	<key>Riker faq uri</key>
	<string>/faq</string>
	<key>Riker if-modified-since header name</key>
	<string>r-if-modified-since</string>
	<key>Riker if-unmodified-since header name</key>
	<string>r-if-unmodified-since</string>
	<key>Riker login failed reason header name</key>
	<string>r-login-failed-reason</string>
	<key>Riker privacy policy bare nav uri</key>
	<string>/privacyBareNav</string>
	<key>Riker privacy policy uri</key>
	<string>/privacy</string>
	<key>Riker security policy bare nav uri</key>
	<string>/securityBareNav</string>
	<key>Riker security policy uri</key>
	<string>/security</string>
	<key>Riker support email</key>
	<string>support@rikerapp.com</string>
	<key>Riker terms of service bare nav uri</key>
	<string>/tosBareNav</string>
	<key>Riker terms of service uri</key>
	<string>/tos</string>
	<key>Riker time interval for flush to remote master</key>
	<integer>2</integer>
	<key>Riker timeout for main thread coordinator dao operations</key>
	<integer>60</integer>
	<key>UIAppFonts</key>
	<array>
		<string>jr-hand.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
